:root {
    --color-background: #2d3436;
    --color-primary: #55efc4;
    --color-secondary: #00b894;
    --gradient-primary: linear-gradient(to top, #2d3436, #55efc4);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { overflow-y: scroll }

html,
body {
    color: var(--color-primary);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.container {
    margin-top: 150px;
}

h1 {
    font-size:180%;
    color: #ffffff;
}

h2 {
    font-size: 70%;
    color: #ffffff;
}

h3 {
    font-size: 125%;
    /* color: #00a8ff; */
}

.login_panel {
    max-width: 600px;
    margin: 0 auto;
}



.total_panel {
    background-image: var(--gradient-primary);
    /* color: var(--color-background); */
    /* border: 10px solid var(--color-primary); */
    max-width: 600px;
    margin: 0 auto;
    /* padding: 40px; */
    /* background-color: var(--color-primary); */
    border-radius: 20px;
}

.menu_panel {
    background: var(--color-primary);
    padding: 15px;
    /* margin-bottom: 20px; */
}

.button_panel {
    color: var(--color-primary);
    margin-bottom: 30px;
    background-color: #ffffff;
    /* border-radius: 20px; */
    padding-left: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.schedule_panel {
    /* color: #00a8ff; */
    margin-bottom: 30px;
    background-color: #ffffff;
    /* border-radius: 20px; */
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.graph_panel {
    color: var(--color-primary);
    margin-bottom: 30px;
    padding: 10px;
    padding-bottom: 50px;
    /* background-color: #ffffff; */
    /* border-radius: 20px; */
    /* padding-left: 10px; */
    /* padding-top: 30px; */
    /* padding-bottom: 30px; */
}

.graph_info {
    padding: 10px;
    padding-left: 20px;
}

.graph {
    width: 100%;
}

.schedule_panel_output {
    text-align: center;
    margin-top: 20px;
}

.login_form {
    border: 3px solid #ffffff;
    background-color: #00a8ff;
    color: #0d6efd;
    border-radius: 20px;
    padding: 30px;
    position: relative;
}

.version {
    position: absolute;
    bottom: 0px;
    right: 50px;
}

.grey {
    color: #adb5bd;
}