@media only screen and (max-width: 575px) {
    .schedule_slider {
        height: 169px;
    }
    .container {
        margin-top: 25px;
    }
    .h2 {
        font-size: 50%;
    }
    .graph_panel {
        min-height: 320px;
    }
}