/* ################ */
/* Primary settings */
/* ################ */

:root {
  --color-background: #2d3436;
  --color-primary: #55efc4;
  --color-secondary: #00b893;
  --color-tertiary: #00a181;
  --gradient-primary: linear-gradient(
    to bottom,
    var(--color-background),
    var(--color-secondary)
  );
  --gradient-secondary: linear-gradient(
    to left,
    var(--color-background),
    var(--color-primary)
  );
  --gradient-tertiary: linear-gradient(
    to right,
    var(--color-tertiary),
    var(--color-tertiary),
    var(--color-primary)
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

html,
body {
  color: var(--color-primary);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

h1 {
  font-family: "Pacifico", cursive;
  font-size: 180%;
  color: #ffffff;
}

h2 {
  font-size: 80%;
  color: #ffffff;
  margin: 0px;
  text-align: center;
}

h3 {
  font-size: 125%;
}

h4 {
  font-size: 60%;
  color: #ffffff;
  margin: 0px;
  text-align: center;
}

.container {
  margin-top: 150px;
}

.app_body_panel {
  max-width: 600px;
  margin: 0 auto;
}

.title_panel {
  position: relative;
  background-color: var(--color-primary);
  height: 80px;
  padding: 15px;
}

/* ########### */
/* Login panel */
/* ########### */

.submit_button {
  border: none;
  padding: 3px;
  color: #ffffff;
  background-color: var(--color-secondary);
  width: 50%;
  border-bottom-right-radius: 20px;
  justify-content: center;
}

.submit_button:hover {
  background-color: var(--color-primary);
  transition: background-color 0.25s ease;
}

.copyright {
  position: absolute;
  top: 55px;
  left: 60px;
}

/* ################# */
/* Hidden menu panel */
/* ################# */

#hidden_menu_panel {
  display: flex;
  justify-content: center;
  transition: height 0.25s ease;
  overflow: hidden;
  border-bottom: 3px solid white;
  border-bottom-right-radius: 20px;
}

#hidden_menu_panel:not(.active) {
  display: none;
}

.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 3px solid var(--color-secondary);
  border-bottom: 3px solid var(--color-secondary);
  width: 100%;
  height: 65px;
  background-color: var(--color-secondary);
}

.button:hover {
  background-color: var(--color-primary);
  transition: background-color 0.25s ease;
}

#log_message {
  position: relative;
  margin-left: 10px;
  font-size: 120%;
}

/* ################## */
/* Main control panel */
/* ################## */

.main_control_panel {
  position: relative;
  background-color: var(--color-background);
  padding: 10px;
  width: 100%;
  border-bottom-right-radius: 20px;
}

.overlay_log {
  background-color: #2d3436;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
  border-bottom-right-radius: 20px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.overlay_clean {
  background-color: #2d3436;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
  border-bottom-right-radius: 20px;
}

.overlay_clean_btn_layout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.yes_btn {
  border-bottom-left-radius: 20px;
}

.no_btn {
  border-bottom-right-radius: 20px;
}

.alarm_red {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.alarm_blue {
  position: absolute;
  right: 35px;
  bottom: 10px;
}

/* ###################### */
/* CSS for slider buttons */
/* ###################### */

.switch_layout {
  position: relative;
  display: block;
  width: 60px;
  height: 25px;
  margin: 0;
  margin-top: 4px;
}

.label_layout {
  padding-top: 3px;
  margin-left: 75px;
}

.switch_layout input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
  border: 3px solid var(--color-secondary);
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 0px;
  transition: 0.4s;
  border: 3px solid var(--color-primary);
  border-radius: 50%;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(28px);
  background-color: var(--color-primary);
}

.neon {
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff;
}

/* ############### */
/* CSS for spinner */
/* ############### */

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* ########## */
/* Data panel */
/* ########## */

.data_panel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.temperature {
  margin-right: 1.5px;
  background-color: #dd7373;
}

.pH {
  background-color: #63adf2;
  margin-left: 1.5px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.data {
  font-size: 200%;
}

.data_label {
  font-size: 65%;
  position: absolute;
  top: 10px;
  right: 10px;
}

.data_logo {
  font-size: 160%;
  position: absolute;
  color: #ffffff;
  top: 10px;
  left: 10px;
}

.graph_panel {
  background-color: var(--color-background);
  color: var(--color-primary);
  margin-bottom: 3px;
  padding: 10px;
  padding-bottom: 50px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  min-height: 420px;
}

.graph_info {
  padding: 10px;
  padding-left: 20px;
}

.graph {
  width: 100%;
}

/* ################################### */
/* SCHEDULE PANEL #################### */
/* ################################### */

.schedule_slider {
  position: relative;
  height: 106px;
  overflow: hidden;
}

.schedule_slide {
  position: absolute;
  width: 100%;
  transition: transform 0.5s;
}

.arrow_layout {
  cursor: pointer;
  background-color: var(--color-secondary);
  transition: transform 0.5s;
}

.arrow_layout:hover {
  background-color: var(--color-primary);
  transition: background-color 0.25s ease;
}

.arrow_layout_left {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-right: 3px solid white;
}

.arrow_layout_right {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-left: 3px solid white;
}

.schedule_arrow {
  color: white;
  position: absolute;
  top: 40%;
  z-index: 10;
  font-size: 180%;
}

.arrow_right {
  right: 1%;
}

.arrow_left {
  left: 6%;
}

.schedule_in {
  background-color: var(--color-tertiary);
  height: 100%;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.schedule_in_label {
  background-color: var(--color-background);
  border-radius: 20px;
}

.schedule_button {
  background-color: var(--color-secondary);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #ffffff;
  font-size: 100%;
  height: 50px;
  border: none;
  border-top: 3px solid white;
  transition: transform 0.5s;
}

.schedule_button:hover {
  background-color: var(--color-primary);
  transition: background-color 0.25s ease;
}

/* ################################### */
/* PHOTO PANEL ####################### */
/* ################################### */

.photo_panel {
  margin-top: 3px;
}

.overlay_lens {
  background-color: #2d3436;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  z-index: 100;
  opacity: 0.5;
  transition: all 0.5s;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.fishlens_layout {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.capture_button {
  background-color: var(--color-secondary);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #ffffff;
  font-size: 100%;
  height: 50px;
  border: none;
  border-top: 3px solid white;
  transition: transform 0.5s;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.capture_button:hover {
  background-color: var(--color-primary);
  transition: background-color 0.25s ease;
}
