{% extends "base.html" %}

{% block content %}

<div class="container">    
  <div class="row">
        <div class="col">
          <div class="login_panel">
            <form class="login_form" action="{{ url_for('main.index') }}" method="POST" novalidate>

                {{ form.csrf_token }}
                
                <div class="form-group">
                    {{ form.name(class_="form-control form-control-sm", placeholder="username", id="name") }}
                </div>
                <div class="form-group">
                    {{ form.password(class_="form-control form-control-sm", placeholder="password", id="password", type="password") }}
                </div>
                <button type="submit" class="btn btn-primary btn-sm btn-block">Enter</button>
                <h2 class="version"><strong>{{ time }} (v {{ version }})</strong></h2>
              </form>
              </div>
        </div>
    </div>
</div>

{% endblock %}